<article class="post">



<h1>{{{model.title}}}</h1>

{{{model.content}}}

{{!--
<hr>

<h3>Categories</h3>
<ul>

	{{#each model.categories as |category|}}
		<li>{{category.name}}</li>
	{{/each}}
</ul>

<h3>Tags</h3>
<ul>
{{#each model.tags as |tag|}}
	<li>{{tag.name}}</li>
{{/each}}
</ul>
--}}
{{outlet}}
</article>
